.busyDiv {
	color: black;
	font-size: 24pt;
	font-weight: bold;
}
.errorDiv {
	color: red;
	font-size: 24pt;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

table.cone_detector_table {
	vertical-align = "top"
}

table, th, td {
	border: 1px solid black;
}

td.bold_cell {
	font-weight: bold;
}

td.data_cell {
	font-family: "Courier New";
	text-align: right;
}

td.histogram_data_cell {
	width: 600px;
}

th {
    text-align: left;
}

th, td {
    padding: 5px;
}

tr.histogram_data_row {
//	width: 651px;
}

.cone_detector_table {

}